<a href="https://colab.research.google.com/github/sahoomrutyunjaya12345/HealthInsuranceCrossSellPrediction/blob/main/Health_Insurance_Cross_Sell_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project Name: Health Insurance Cross Sell Prediction

In [1]:
# importing all libraries
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
%matplotlib inline
# importing warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
health_data="/content/drive/MyDrive/AlmaBetter/unsupervised learning capstone/TRAIN-HEALTH INSURANCE CROSS SELL PREDICTION.csv"

In [4]:
data_df=pd.read_csv(health_data)
data_df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0